@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

:root{
    --dark-cyan:hsl(185, 75%, 39%);
    --v-d-desaturated-blu:hsl(229, 23%, 23%);
    --dark-grayish-blue:hsl(227, 10%, 46%);
    --dark-gray:hsl(0, 0%, 59%)
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    font-size: 1.6rem;
    font-family: "Kumbh Sans", sans-serif;
    background-color: var(--dark-cyan);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    z-index: 10;
    width: 90%;
    max-width: 38rem;
    /* margin: 0 auto; */
    overflow: hidden;
    border-radius: 2rem;
    background-color: #fff;
    position: relative;
}
.portada{
    width: 100%;
    
}
.perfil{
    width: 100%;
    position: absolute;
    top: 8rem;
    display: flex;
    justify-content: center;
}

.perfil img{
    border-radius: 50%;
    border: .6rem solid white;
}

.info{
    margin-top: 7rem;
    position: relative;
    text-align: center;
    margin-bottom: 2.5rem;
}

.info .name{
    color: var(--v-d-desaturated-blu);
    font-weight: bold;
}
.info .name span{
    font-weight: normal;
    opacity: .8;
}
.info p{
    font-size: 1.4rem;
}

.data{
    padding: 2.5rem;
    border-top: .5px solid rgb(233, 226, 226);
    display: flex;
    justify-content: space-between;
}
.stadistic p{
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}
.stadistic p span{
    font-weight: normal;
    font-size: 1.4rem;
    display: block;
    opacity: .5;
}

/*descoracion*/
.bola1{
    background-image: url(images/bg-pattern-bottom.svg);
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0;
    left:0;
    transform: rotate(180deg);
}

.bola2{
    background-image: url(images/bg-pattern-top.svg);
    width: 300px;
    height: 300px;
    position: absolute;
    bottom: 0;
    right: 0;
}

@media (min-width: 768px) {
  .bola1{
    width: 550px;
    height: 550px;
  }

  .bola2{
    width: 550px;
    height: 550px;
  }
}